<manifest package="com.batch.android.dispatcher.atinternet"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <service
            android:name="com.batch.android.eventdispatcher.DispatcherDiscoveryService"
            android:exported="false">
            <meta-data
                android:name="com.batch.android.eventdispatcher:com.batch.android.dispatcher.atinternet.AtInternetRegistrar"
                android:value="com.batch.android.eventdispatcher.DispatcherRegistrar" />
        </service>
    </application>

</manifest>
